doctype html
html
    head
        title
            block title
        meta(charset='utf-8')
        meta(name='viewport',
             content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        link(rel='stylesheet',
            href='/styles/bootstrap.min.css')
        link(rel='stylesheet',
            href='/styles/sidebars.css', defer)
        //- script(src='/scripts/popper.min.js')
        script(src='/scripts/jquery-3.6.4.min.js')
        script(src='/scripts/bootstrap.bundle.js', defer)
        script(src='/scripts/sidebars.js')
        script(src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js")
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
        //- script( type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6a82cf5c9b4e6db488a44507be1732a9")
        block scripts
    body