//- Parameters
//-  status

script(type='text/javascript' src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js')
link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css')

.card
    .container-fluid
        form
            .d-flex.mt-2.align-items-center
                label.form-control-label(for='startDate')
                    i.bi.bi-caret-right-fill
                input#startDate.form-control.form-control-sm(type='text' name='startDate' value=sDate)
                label.form-control-label.ms-1.me-1(for='endDate') ~
                input#endDate.form-control.form-control-sm(type='text' name='endDate' value=eDate)
            .d-flex.mt-2.mb-2.align-items-center
                .form-check.form-check-inline
                    input#errandCheckbox1.form-check-input(type='checkbox' name='status' value='0' checked=status[0].value)
                    label.form-check-label(for='errandCheckbox1', style='width: 65px;') 처리필요
                .form-check.form-check-inline
                    input#errandCheckbox2.form-check-input(type='checkbox' name='status' value='1' checked=status[1].value)
                    label.form-check-label(for='errandCheckbox2', style='width: 65px;') 처리완료
                input#searchInput.form-control(type='text', name='search',aria-label='search' placeholder='신고자 id,이름 검색')
                input(type='hidden' name='page' value=1)
                button.btn.btn-success.float-end.ms-1(type='submit', style="min-width: 65px;") 검색    

script.
    $(function() {
        $('input[name="startDate"]').daterangepicker({
            singleDatePicker: true,
            minYear: 1901,
            maxYear: parseInt(moment().format('YYYY'),10)
        });
    });
    $(function() {
        $('input[name="endDate"]').daterangepicker({
            singleDatePicker: true,
            minYear: 1901,
            maxYear: parseInt(moment().format('YYYY'),10)
        });
    });