//- Parameters
//- black, blacks

button.btn.btn-dark.btn-sm(type='button' data-bs-toggle="modal" data-bs-target="#removeBlackModal" style="width: 4.2rem;") 해제

#removeBlackModal.modal.fade(tabindex='-1' aria-labelledby='removeBlackModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#removeBlackModalLabel.modal-title.fs-5 악성 고객 해제
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        | #{black.u_id} 님을 악성 고객에서 해제하겠습니까?
      .modal-footer
        form(method='POST' action='/member/black/remove_black')
            input(type='hidden' name='u_idx' value=black.u_idx)
            //- input(type='hidden' name='search' value=blacks.blackSearch)
            button.btn.btn-dark(type='submit') 정지 해제
        button.btn.btn-light(type='button' data-bs-dismiss='modal') 취소
