#requestModal.modal.fade(tabindex='-1' aria-labelledby='requestModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#requestModalLabel.modal-title.fs-5 회원정보 확인
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                form#passwordForm(method='POST' action=`/member/edit/request`)
                    .modal-body 
                        | 관리자 비밀번호 입력
                        input.form-control.mt-1(name='password', type='password' aria-label='Password', aria-describedby='password-addon')
                        input(type='hidden' name='idx' value=user.idx)
                    .modal-footer
                        button#editUserBtn.btn.btn-dark(type='submit') 수정시작
                        button#hiddenBtn.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
script.
    const passwordForm = document.getElementById('passwordForm');
    const editUserBtn = document.getElementById('editUserBtn');

    passwordForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const passwordInput = passwordForm.querySelector('input[name="password"]');
        const password = passwordInput.value;

        const xhr = new XMLHttpRequest();
        xhr.open('POST', `/member/user/edit/request`);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // Handle the successful response
                    // For example, display the edit modal
                    const editModal = document.getElementById('editModal');
                    const bootstrapModal = new bootstrap.Modal(editModal);
                    bootstrapModal.show();
                    // Close the current modal
                    const hiddenBtn = document.getElementById('hiddenBtn');
                    hiddenBtn.click();
                } else {
                    const modalBody = document.querySelector('#requestModal .modal-body');
                    modalBody.innerHTML += '<div class="text-danger mt-1">비밀번호가 틀렸습니다.</div>';
                }
            }
        };
        xhr.send(`password=${encodeURIComponent(password)}`);
    });
