.card
    .card-header 심부름 요청 통계
    .card-body
        .text-end 요일별 차트
        .d-flex.justify-content-center
            canvas#cntForWeekdayChart(style='max-width: 800px; max-height: 320px;')
    .card-footer.bg-transparent
        .text-end 시간대별 차트
        .d-flex.justify-content-center
            canvas#cntForHourChart(style='max-width: 800px; max-height: 320px;')
    .card-footer.bg-transparent 
        .text-end 가격대별 차트
        .d-flex.justify-content-center
            canvas#cntForMoneyChart(style='max-width: 400px; max-height:320px;')

script.
    // 차트 생성
    createChart('cntForWeekdayChart',!{JSON.stringify(cntForWeekData)})
    createChart('cntForHourChart',!{JSON.stringify(cntForHourData)})
    createChart('cntForMoneyChart',!{JSON.stringify(cntForMoneyData)})
